<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main">
      <div id="prev" onclick="prevSlide()">&lt;</div>
      <div class="slider">
        <div class="slide" id="s0">
          <img src="./img/img0.jpg" alt="" />
        </div>
        <div class="slide" id="s1">
          <img src="./img/img1.jpg" alt="" />
        </div>
        <div class="slide" id="s2">
          <img src="./img/img2.jpg" alt="" />
        </div>
        <div class="slide" id="s3">
          <img src="./img/img3.jpg" alt="" />
        </div>
        <div class="slide" id="s4">
          <img src="./img/img4.jpg" alt="" />
        </div>
        <div class="slide" id="s5">
          <img src="./img/img5.jpg" alt="" />
        </div>
        <div class="slide" id="s6">
          <img src="./img/img6.jpg" alt="" />
        </div>
        <div class="slide" id="s7">
          <img src="./img/img7.jpg" alt="" />
        </div>
        <div class="slide" id="s8">
          <img src="./img/img8.jpg" alt="" />
        </div>
        <div class="slide" id="s9">
          <img src="./img/img9.jpg" alt="" />
        </div>
      </div>
      <div id="next" onclick="nextSlide()">&gt;</div>
    </div>
  </body>
  <script src="./script.js"></script>
</html>
