<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="main">
      <h1>Welcome to Converter</h1>
      <div class="temperture-inputs">
        <div class="celsius">
          <label for="cel">Celsius</label>
          <input type="text" id="cel" value="0" />
        </div>
        <div class="equal">=</div>
        <div class="fahrinhate">
          <label for="fah">Fahrenheit</label>
          <input type="text" id="fah" value="32" />
        </div>
      </div>
    </div>
  </body>
  <script src="./script.js"></script>
</html>
